<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Jsignup.css">
    <script>
    </script>
</head>
<body>
    <div class="box">
        <div class="logo">
        <img src="Whitelogo.png" class="logopng">
        </div>
        <div class="line"></div>
        <div class="content">
            <div class="header">
                Sign-in
            </div>
            <div class="access">
                <div class="accesslist"><input type="text" class="txtb" placeholder="아이디"></div>
                <div class="accesslist"><input type="password" class="txtb" placeholder="비밀번호"></div>
                <div class="accesslist"><input type="password" class="txtb" placeholder="비밀번호 확인"></div>
                <div class="accesslist"><input type="email"" class="txtb" placeholder="이메일"></div>
                <div class="accesslist">
                    <span><input type="number" class="txtbr" placeholder="학번"></span> <!--학번 최대 4자리 코드좀-->
                    <span><input type="text" class="txtbr" placeholder="이름"></span>
                </div>
            </div>
            <input type="button" class="Submit" value="가입">

        </div>
    </div>
</body>
</html>