<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks!</title>
    <link rel="stylesheet" href="/JTFSU.css">
</head>

<body>
    <img src="/Whitelogo.png">
    <div class="line"></div>
    <div class="des">Thanks for Signing Up!</div>
    <div class="des2">가입해 주셔서 감사합니다!</div>
    <button onclick="window.location = '/login'"> 로그인하기 </button>
</body>

</html>