<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중앙인들</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="./login.css">
    <script src="./login.js"></script>
</head>

<body>
    <%if(login) { %>
    <% if(login.trylogin) {%>
    <%- "<script>alert('없는 아이디 입니다.')</script>" %>
    <%}%> 
    <%}%>
    <form action="/login" method="POST">
        <img src="./GeneralLogo.png" class="Logo">
        <div class="header">
            <b>중앙인들</b>
        </div>
        <div class="txtb">
            <input name="id" type="text" placeholder="아이디">
        </div>
        <div class="txtb">
            <input name="password" type="password" placeholder="비밀번호">
        </div>
        <div class="submit">
            <input type="submit" id="submit" value="로그인">
        </div>
        <div class="add">
            <a href="" id="signin">회원가입</a> / <a href="" id="find">비밀번호 찾기</a>
        </div>
    </form>
</body>

</html> -->